.cbx input {
  display: none;
}

/*
  Custom checkbox stylization
 */
.cbx .inl {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.cbx label {
  user-select: none;
  cursor: pointer;
  padding: 12px 32px 12px 12px;
  overflow: hidden;
  transition: all .2s ease;
  margin: 0;
  font-weight: 400;
  color: #0e202d;
  opacity: 1;
  display: flex;
}

.cbx label > span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #0e202d;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all .3s ease;
  transition-delay: .1s;
  transform: translateZ(0);
}

.cbx label > span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.cbx label > span:first-child {
  position: relative;
  flex-shrink: 0;
  flex-basis: 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #dbd8d6;
  transition: all .2s ease;
  box-shadow: 0 1px 1px rgba(0,16,75,.05);
}

.cbx input:checked + label > span:first-child svg {
  stroke-dashoffset: 32px;
}

.cbx input:checked + label > span:first-child {
  background: #f4b98e;
  border-color: #f4b98e;
  animation: wave .4s ease;
}

/*
  Custom radio button stylization along with tailwind classes
 */
.radio input[type="radio"]:checked + span span {
  background-color: #3490DC;
  box-shadow: 0 0 0 2px white inset;
}

.radio input[type="radio"]:checked + span span {
  color: #3490DC;
}
